<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Set the root level of logging -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Console Appender Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Kafka Stream specific logging -->
    <logger name="org.apache.kafka.streams" level="ERROR"/>
    <logger name="org.apache.kafka.clients" level="ERROR"/>
    <logger name="org.apache.kafka" level="ERROR"/>

    <logger name="com.ronaldsuwandi" level="DEBUG"/>
</configuration>
